#cunName {
    text-align: left;
    font-size: 50px;
}

#navPage{ position:fixed; top:50%; left:0; text-align:left; transition:all .1s ease-out 0s; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); }#navPage.noactive{left:-10%}#navPage li{position:relative;padding-left:40px}#navPage li:after{position:absolute;top:50%;left:0;display:block;width:0;height:1px;background:#da0502;content:"";transition:all .5s ease-out 0s}#navPage li.active:first-child:after{width:95px}#navPage li:first-child+li.active:after{width:95px}#navPage li:first-child+li+li.active:after{width:110px}#navPage li:first-child+li+li+li.active:after{width:95px}#navPage li:first-child+li+li+li+li.active:after{width:130px}#navPage li:first-child+li+li+li+li+li.active:after{width:115px}#navPage li:first-child+li+li+li+li+li+li.active:after{width:95px}#navPage li:first-child+li+li+li+li+li+li+li.active:after{width:115px}#navPage li a{display:inline-block;color:#aaa;font-weight:700;font-size:0;font-family:Arial;line-height:34px}#navPage li a i,#navPage li a span{display:inline-block;vertical-align:middle;font-size:14px}#navPage li a i{font-style:normal}#navPage li a span{overflow:hidden;width:0;white-space:nowrap;transition:all .5s ease-out 0s}#navPage li a:hover,#navPage li.active a{color:#da0502}#navPage li a:hover span,#navPage li.active a span{width:80px}
/* .left_nav {
    width: 150px;
    height: 100%;
    position: fixed;
    float: left;
    background-color: aqua;
}

.left_nav li {
    list-style: none;
    display: block;
} */
house-button {
    margin: 0%;
    width: 100%;
}
.goods {
    width: 20%;
    float: left;
    border: 1px;
    margin: 2px 0;
    /*透明度*/opacity: 1;
    
}
.goods img {
    display: inline-block;

    /* margin: 0%;
    padding: 10px; */
}
/* .goods-main s{
    display: block;
    margin: 16px;
    padding: 16px;
    border: 1px solid #dddee1;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    position: relative;
} */

.goods-name{
    color: #222;
    overflow: hidden;
    text-align: center;
    text-emphasis: ellipsis;
    white-space: nowrap;
    background-color: #ddd;
}
.goods-main:hover .goods-name{
    color: #f2352e;
}

.column {
    float: right;
    width: 100%;
    background-color: #bbbbbb;
}

.column li {
    border: 1px solid #ddd;
    padding: 3px 15px;
    margin: 0 8px;
    cursor: pointer;
}
.column li:hover {
    background-color:#f2352e;
}

.page-bar{
    position: fixed;
    display: block;
    margin:0 40px;
    bottom: 0;

    
}
ul,li{
    margin: 0px;
}
li{
    display: inline-block;
    list-style: none;
    padding: 0 2px;
}
.page-bar li:first-child>a {
    margin-left: 450px;
}
.page-bar a{
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 14px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #222;
    cursor: pointer;
}
.page-bar a:hover{
    background-color: #eee;
}
a.banclick{
    cursor:not-allowed;
}
.column .active, .page-bar .active a{
    color: #fff;
    cursor: default;
    background-color:#f2352e;
    border-color: #ddd;
}
.page-bar i{
font-style:normal;
color: #d44950;
margin: 0px 4px;
font-size: 12px;
}
.clearfloat {
clear:both
}