<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-10">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./goods.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="column">
            <ul>
                <li><</li>
                <!-- todo: 这个数据需要算一下 -->
                <li class="active">一巷人家</li>
                <li>二巷人家</li>
                <li>三巷人家</li>
                <li>四巷人家</li>
                <li>></li>

            </ul>
        </div>

        <div id="components-demo">
            <house-button v-for="item in filteredAndOrderedList" :info="item" :key="item.id"></house-button>
        </div>
        <div class="page-bar">
            <ul>
                <li v-if="cur>1"><a v-on:click="cur--,pageClick()"><</a></li>
                <li v-if="cur==1"><a class="banclick"> < </a></li>
                <li v-for="index in indexs" v-bind:class="{ 'active': cur == index}" :key="index">
                <a v-on:click="btnClick(index)">{{ index }}</a>
                </li>
                <li v-if="cur!=all"><a v-on:click="cur++,pageClick()"> > </a></li>
                <li v-if="cur == all"><a class="banclick"> > </a></li>
                <!-- <li>跳至<a></a>页</li> -->
                <li><a>共<i>{{all}}</i>页</a></li>
            </ul>
        </div>
    </div>

    <script>
        // 组件
        Vue.component('house-button', {
            props: {
                info: Object
            },
            data() {
                return {
                }
            },
            template: `
            <div class="goods">
                <img :src="info.image" alt="">    
                <h4 class="goods-name">{{ info.name }}</h4>
            </div > `
        })
        //实例
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                list: [{ image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/2.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/2.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },
                { image: "./img/1.jpg", name: 'xxx' },

                { image: "./img/1.jpg", name: 'xxx' },],
                cur: 1,

            },
            watch: {
                cur: function (oldValue, newValue) {
                    console.log(arguments);
                }
            },
            computed: {
                filteredAndOrderedList() {
                    let list = [...this.list]
                    list = list.slice((this.cur - 1) * 10, this.cur * 10)
                    return list
                },
                all: function () {
                    return Math.ceil(this.list.length / 10)
                },
                indexs: function () {
                    var left = 1;
                    var right = this.all;
                    var ar = [];
                    if (this.all >= 5) {
                        if (this.cur > 3 && this.cur < this.all - 2) {
                            left = this.cur - 2
                            right = this.cur + 2
                        } else {
                            if (this.cur <= 3) {
                                left = 1
                                right = 5
                            } else {
                                right = this.all
                                left = this.all - 4
                            }
                        }
                    }
                    while (left <= right) {
                        ar.push(left)
                        left++
                    }
                    return ar
                }
            },
            methods: {
                btnClick: function (data) {
                    //页码点击事件
                    if (data != this.cur) {
                        this.cur = data
                    }
                },
                pageClick: function () {
                    console.log('现在在' + this.cur + '页');
                }
            },

        })

    </script>
</body>

</html>